<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="//unpkg.com/ejs@3.1.5/ejs.min.js"></script>

    <style media="screen">
      body {
        background-color: #333;
        font-family: sans-serif;
        color: #999;
      }

      h1 {
        transition: color 1s ease;
      }

      h1.highlight {
        color: red;
      }
    </style>
  </head>
  <body>

  </body>

  <div id="app">
    <!-- application is rendered here -->
  </div>

  <script type="text/template" id="demo-template">
    <h1 class="<%= highlightIfDavid() %>"><%= name %></h1>

    <% if (name === "david") { %>
      <blockqoute>Hello <%= name %>!</blockqoute>
    <% } %>

    <ul data-items="<%= JSON.stringify(items) %>">
      <% items.forEach((item, index) => { %>
        <li>
          <%= item.id %>
          <%= item.title %>
          <button onclick="app.handlers.remove(<%= item.id %>)">x</button>
        </li>
      <% }); %>
    </ul>

    <input type="text" value="<%= name %>" oninput="app.handlers.changeName(event)" />
    two way
    <input type="text" value="<%= name %>" oninput="app.handlers.changeName(event)" />

    <textarea oninput="app.handlers.changeName(event)"><%= name %></textarea>

    <hr/>

    <div>
      <%= newName %>
    </div>

    <label>
      add one
      <input type="text" value="<%= newName %>" oninput="app.handlers.changeNewName(event)" />
      <button onclick="app.handlers.add()">Add</button>
    </label>
  </script>

  <script src="./demo.js" type="module"></script>
</html>
